<nav>
  <ul>
    <li><a routerLink="/products">All Jewelry</a></li>
    <li><a routerLink="/products">Collections</a></li>
    <li><a routerLink="/products">Personalization</a></li>
    <li><a routerLink="/products">About</a></li>
  </ul>
  <a class="logo" routerLink="/">Home</a>
  <ul>
    <li><a routerLink="/">Blog</a></li>
    <li *ngIf="IsAuth; else login">
      <button (click)="onLogout()">Logout</button>
    </li>
    <li><a routerLink="/">💗</a></li>
    <li><a routerLink="/cart">🛒</a></li>
  </ul>
</nav>

<ng-template #login>
  <button (click)="onLogin()">Login</button>
</ng-template>
