.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product {
  position: relative;

  &__image {
    max-width: 300px;
  }

  &__header {
    margin: 0.5rem 0;
    max-width: 300px;

    &--name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__favorite {
    position: absolute;
    top: 5%;
    left: 85%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;

    &:hover {
      scale: 1.1;
      transition: all 150ms ease-in;
    }
  }
}
