<section class="product-list" *ngIf="products.length; else loading">
  <article class="product" *ngFor="let product of products">
    <a [routerLink]="['/product', product.id]">
      <img
        [src]="product.thumbnail"
        alt="Product Image"
        class="product__image"
      />
      <header class="product__header">
        <h2 class="product__header--name">{{ product.name }}</h2>
        <p class="product__header--price">{{ product.price }} €</p>
      </header>
    </a>
    <button class="product__favorite" (click)="onAddToFavorite(product)">
      <ng-icon
        [name]="product.isFavorite ? 'radixHeartFilled' : 'radixHeart'"
      ></ng-icon>
    </button>
  </article>
</section>

<ng-template #loading>Loading...</ng-template>
