<div *ngIf="product$ | async as product; else loading">
  <div class="product__preview">
    <div class="product__preview--gallery">
      <img
        *ngFor="let img of product.gallery"
        [src]="img"
        alt="Product Image"
        (mouseenter)="onFocusImg(img)"
      />
    </div>
    <div class="product__preview--focus">
      <img [src]="focusImg || product.gallery[0]" alt="Product Image" />
    </div>
  </div>

  <p>Product name: {{ product.name }}</p>
  <button (click)="onAddToCart(product)">Add to bag</button>
</div>

<ng-template #loading> Loading... </ng-template>
